brotlipy==0.7.0
catalogue==1.0.0
certifi==2020.11.8
decorator==4.4.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
ipython-genutils==0.2.0
numpy @ file:///C:/ci/numpy_and_numpy_base_1603466732592/work
pandas @ file:///C:/ci/pandas_1602083338010/work
parso==0.7.0
pickleshare==0.7.5
python-dateutil==2.8.1
scikit-learn @ file:///C:/ci/scikit-learn_1598377018496/work
scipy @ file:///C:/ci/scipy_1604596260408/work
spacy @ file:///C:/ci/spacy_1600557334559/work
